In [2]:
#Importing libraries
import pandas as pd
import numpy as np

#Reading files
df_train = pd.read_csv('C:/Users/abhis/Desktop/challenge1training.csv')
df_test  = pd.read_csv('C:/Users/abhis/Desktop/challenge1testing.csv')

df_solution = pd.read_csv('C:/Users/abhis/Documents/GitHub/logistic-regression-1-abhishekhanchate/challenge1sample.csv')
df_vector   = pd.read_csv('C:/Users/abhis/Documents/GitHub/logistic-regression-1-abhishekhanchate/challenge1vector.csv')

#Printing head of training and test data
print(df_train.head())
print(df_train.shape)

print(df_test.head())
print(df_test.shape)

   Id  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_1  PAY_2  PAY_3  PAY_4  \
0   1     300000    2          2         2   35      0      0      0      0
1   2      20000    1          1         2   24      0      0      0      0
2   3      20000    2          2         2   22      1      2      0      0
3   4      80000    1          1         1   60      0      0      0      0
4   5     300000    1          2         1   48      1     -2     -2     -2

   ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3  \
0  ...      76722      69922      23926      3219      3417      1926
1  ...      16200      16936      17273      1300      1270      1000
2  ...      12326      11888       9351         0      2000      1800
3  ...          0          0          0      3300      6267         0
4  ...          0          0          0         0         0         0

   PAY_AMT4  PAY_AMT5  PAY_AMT6  Default
0      1545       797      9190        0
1      1000       619       800        1
2         0       900         0        1
3         0         0      4189        0
4         0         0         0        0

[5 rows x 25 columns]
(24000, 25)
   Id  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_1  PAY_2  PAY_3  PAY_4  \
0   1     320000    1          1         2   38     -1     -1     -1     -1
1   2     450000    1          1         1   41     -1     -1     -1     -1
2   3      50000    1          2         2   34      0      0      0      0
3   4     220000    1          1         2   33     -2     -2     -2     -2
4   5      20000    2          3         1   39      1      2      2      2

   ...  BILL_AMT3  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  \
0  ...      16770      83490          0      52281      5409     16778
1  ...       8680     113233       5907          0     17913      9278
2  ...      26135      26730      12180      18179      1410      2000
3  ...        666       1064        707       9213      2108      1332
4  ...       8198       9752       9447      10290      1200         0

   PAY_AMT3  PAY_AMT4  PAY_AMT5  PAY_AMT6
0     83490         0     52281     15643
1    114865      6411         0         0
2      1167      1017     18179       651
3      1064       707      9325      1500
4      1700         0      1000      1500

[5 rows x 24 columns]
(6000, 24)

In [5]:
#Checking missing data for training data
df_train.isnull().sum()

Id           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_1        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
dtype: int64

In [6]:
#Checking missing data for testing data
df_test.isnull().sum()

Id           0
LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_1        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
dtype: int64

In [7]:
#Spliting training data and Scaling X for training and testing data
from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()
#Scaling X_train after dropping Default column
X_train = std_scaler.fit_transform(df_train.drop('Default', axis = 1))
Y_train = df_train['Default']
#Scaling X_test
X_test = std_scaler.fit_transform(df_test)

In [8]:
#Fitting Logistic Regression to the training data
from sklearn.linear_model import LogisticRegression
log_reg = LogisticRegression()
log_reg.fit(X_train, Y_train)

C:\Users\abhis\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [9]:
#Predicting Default values for testing data
log_reg.predict(df_test)

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [10]:
#Converting Array into a Dataframe column
columns     = ['Default_test']
values      = log_reg.predict(X_test)
predictions = pd.DataFrame(values, columns = columns)

In [11]:
predictions['Default_test'].value_counts()

0    5554
1     446
Name: Default_test, dtype: int64

In [12]:
#Final predictions for testing data
predictions

      Default_test
0                0
1                0
2                0
3                0
4                0
5                0
6                0
7                0
8                0
9                0
10               1
11               0
12               1
13               0
14               0
15               0
16               0
17               0
18               0
19               0
20               0
21               1
22               0
23               0
24               0
25               0
26               0
27               0
28               0
29               0
...            ...
5970             0
5971             0
5972             0
5973             0
5974             0
5975             0
5976             0
5977             0
5978             0
5979             0
5980             0
5981             0
5982             0
5983             0
5984             0
5985             0
5986             0
5987             0
5988             0
5989             0
5990             0
5991             0
5992             0
5993             0
5994             0
5995             1
5996             1
5997             1
5998             0
5999             0

[6000 rows x 1 columns]

In [13]:
#Converting into a CSV file
df_solution['Default'] = predictions
df_solution.to_csv('challenge1solution.csv', index = False)

df_vector.iloc[:,:] = log_reg.coef_
df_vector.Theta0    = log_reg.intercept_
df_vector.to_csv('challenge1vector.csv', index = False)